.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #eef1f8;
}

.home-card {
    width: 400px;
}


.button {
    background-color: rgb(3, 92, 92);
}