.PasswordChange-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #eef1f8;
}

.PasswordChange-card {
    width: 400px;
}

.field {
    margin-bottom: 1.5rem;
}

.p-icon-field {
    width: 100%;
}

.text-input,
.password {
    width: 100%;
}

.login-link {
    margin-top: 1rem;
    text-align: center;
    color: rgb(3, 92, 92);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.button {
    background-color: rgb(3, 92, 92);
}